.refresh-spinner {
  position: absolute;
  padding-top: 5px;
  left: 43%;
}

.refresh-parent {
  position: relative;
}

.refresh-child {
  position: relative;
  background-color: white;
}

@icc-green: #7F8400;
@icc-orange: #B96D00;
@icc-brown: #333333;
@icc-black: #6F5230;
@icc-grey: #D8D8BF;

body {
   background-color: @icc-grey;
}

h1 {
    text-align:center;
    background-color: @icc-orange;
    margin: 3%;
    padding: 3%;
}

div {
    border-width: 3px;
    border-color: @icc-black;
}

h3 {
    text-align: center;
    border-width: 2px;
    border-color: @icc-black;
    padding: 3%;
    margin: 3%;
    background-color: @icc-green;
}

.navbar-icc {
    text-align: center;
    background-color: @icc-green;
    border-color: @icc-grey;
    padding: 5%;
}

.navbar-icc span {
    width: 50%;
    border-color: @icc-grey;
}
.navbar-icc a {
    color: Black;
    font-size: 110%;
    padding: 0 10%;
}

.session-room, .session-time, .the-speaker-name, .speaker-detail-name, .speaker-detail-location, .speaker-detail-web {
    font-size: 110%;
    text-align: center;
    display:block;
    font-weight: bold;
    color: #555!important;
}

.session-level {
    text-align: center;
    padding: 3%;
    display:block;
}

.session-speaker-row {
    margin: 1%;
}

.session-speaker-name, .speaker-location {
    text-align: center;
    color: #777!important;
    font-weight: normal!important;
}

.session-speaker-link a {
    margin-right: 7%;
    border-color: @icc-brown;
    background-color: @icc-orange;
    color: black;
}

.no-speakers-found {
    text-align: center;
}

.session-link a {
    border-color: @icc-brown;
    background-color: @icc-orange;
    color: Black;
}

.no-sessions-found {
    text-align: center;
}

.session-name, .session-speaker-name, .speaker-name {
    width: 90%!important;
}

.speaker-name, .session-name {
    text-align: left;
    display:block;
    font-size: 160%;
    padding-bottom: 4px;
}

.group-time {
    color: #4297FF;
    font-size: 130%;
}

.speaker-bio {
   padding: 3%;
   display:block;
}

.speaker-session-row {
    margin: 1%;
}

.speaker-session-name {
    display:block;
}

.speaker-session-link a {
    background-color: @icc-orange;
    border-color: @icc-brown;
    color: Black;
}

.no-sessions-found {
    text-align: center;
}

.speaker-link a {
    background-color: @icc-orange;
    border-color: @icc-brown;
    color: Black;
}

.no-speakers-found {
    text-align: center;
}

.speaker-detail-img {
  border: 6px solid #4297FF;
  display:inline-block;
  vertical-align: middle;
  width: 206px;
}
.speaker-detail-web, .speaker-detail-location, .speaker-detail-name {
  display: block;
}
.speaker-detail-web a {
  max-width: 100px;
  vertical-align: middle;
}
.profile-wrap {
  padding-top: 40px;
}
img.center {
  display: block;
  margin: 0 auto;
}
.img-wrap, .details-wrap {
  height: 117px;
}
.speaker-detail-bio {
  padding-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
}
.session-desc, .speaker-detail-bio {
  font-size: 120%;
  padding-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 40px;
  color: #555!important;
}
.the-session-name, .speaker-detail-name {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.session-link, .speaker-link {
  margin-top: -40px!important;
}
.session-link, .speaker-link, .session-speaker-link, .speaker-session-link {
  vertical-align: middle !important;
}
.session-link a, .speaker-link a, .session-speaker-link a, .speaker-session-link a {
  color: dimgray!important;
  opacity: 0.5!important;
  text-decoration: none;
}
table {
  border: 1px solid #ff9200!important;
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
}
.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #fff!important;
}
.navbar-brand {
  color: #ff9200!important;
}
.navbar-default {
  margin-bottom: 10px!important;
  border-top: 0!important;
  background-color: #fff!important;
  border-color: #eee!important;
}
.navbar-collapse {
  border-color: #eee!important;
}
.icon-bar {
  background-color: #eee!important;
}
.navbar-toggle {
  border-color: #eee!important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 0;
  padding: 11px;
}
.table-border>thead>tr>th, .table-border>tbody>tr>th, .table-border>tfoot>tr>th, .table-border>thead>tr>td, .table-border>tbody>tr>td, .table-border>tfoot>tr>td {
  border-bottom: 1px solid #eee!important;
}
.session-name, .speaker-name, .speaker-detail-name {
  display: block;
}
.hide-overflow {
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    height: 20px;
}
td a {
    display:block;
    width:100%;
}
img {
    max-width: 100%;
    height: auto;
}
.round {
    border-radius: 1000px;
}
.container {
    padding-left: 24px;
    padding-right: 24px;
}
